<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reclaim_the_art</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Reclaim_the_art.styles.css" asp-append-version="true" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Chameleon Admin is a modern Bootstrap 4 webapp &amp; admin dashboard html template with a large number of components, elegant design, clean and organized code.">
    <meta name="keywords" content="admin template, Chameleon admin template, dashboard template, gradient admin template, responsive admin template, webapp, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>Dashboard </title>
    <link rel="apple-touch-icon" href="~/theme-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/theme-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    <link href="~/../../maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/theme-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="~/theme-assets/vendors/css/charts/chartist.css">
    <link rel="stylesheet" type="text/css" href="~/theme-assets/css/Button.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN CHAMELEON  CSS-->
    <link rel="stylesheet" type="text/css" href="~/theme-assets/css/app-lite.css">
    <!-- END CHAMELEON  CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/theme-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/theme-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/theme-assets/css/pages/dashboard-ecommerce.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <!-- END Custom CSS-->
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar " style="max-width:100%;" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">

   
    <div class="row">
        <div class="col-3 float-right">
            <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
                <div class="navbar-wrapper">
                    <div class="navbar-container content">
                        <div class="collapse navbar-collapse show float-right" id="navbar-mobile">
                            <ul class="nav navbar-nav">
                                <li class="dropdown dropdown-user nav-item">
                                    <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                        <span class="avatar avatar-online"><img src="~/theme-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><i></i></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="arrow_box_right">
                                            <a class="dropdown-item" href="#"><span class="avatar avatar-online"><img src="~/theme-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><span class="user-name text-bold-700 ml-1">John Doe</span></span></a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="ft-power"></i> Logout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
        
     

    <div class="row">
        <div class="col-2">
            <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="theme-assets/images/backgrounds/02.jpg">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item mr-auto">
                            <a class="navbar-brand" >
                                <img class="brand-logo" alt="Chameleon admin logo" src="~/theme-assets/images/logo/ART.png" />
                                @*<h3 class="brand-text">Reclaim_The_Art</h3>*@
                            </a>
                        </li>
                        <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
                <div class="main-menu-content">
                    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
           
                        <li class=" nav-item">
                            <a asp-area="Admin" asp-controller="Admin" asp-action="Index"><i class="la la-user"></i><span class="menu-title" data-i18n="">Admin</span></a>
                        </li>
                        <li class=" nav-item">
                            <a asp-area="Customer" asp-controller="Customer" asp-action="Index"><i class="la la-users"></i><span class="menu-title" data-i18n="">Customer</span></a>
                        </li>
                        <li class=" nav-item">
                            <a asp-area="Bill" asp-controller="Bill" asp-action="Index"><i class="la la-inr"></i><span class="menu-title" data-i18n="">Bill</span></a>
                        </li>
                        <li class=" nav-item">
                            <a asp-area="BillWiseProduct" asp-controller="BillWiseProduct" asp-action="Index"><i class="la la-shopping-cart"></i><span class="menu-title" data-i18n="">Bill Wise Product</span></a>
                        </li>
                        <li class=" nav-item">
                            <a asp-area="Product" asp-controller="Product" asp-action="Index"><i class="la la-cube"></i><span class="menu-title" data-i18n="">Product</span></a>
                        </li>
                        <li class=" nav-item">
                            <a asp-area="ProductType" asp-controller="ProductType" asp-action="Index"><i class="la la-cubes"></i><span class="menu-title" data-i18n="">Product Type</span></a>
                        </li>
                        <li class=" nav-item">
                            <a asp-area="Country" asp-controller="Country" asp-action="Index"><i class="la la-map-marker"></i><span class="menu-title" data-i18n="">Country</span></a>
                        </li>
                        <li class=" nav-item">
                            <a asp-area="State" asp-controller="State" asp-action="Index"><i class="la la-map-marker"></i><span class="menu-title" data-i18n="">State</span></a>
                        </li>
                        <li class=" nav-item">
                            <a asp-area="City" asp-controller="City" asp-action="Index"><i class="la la-map-marker"></i><span class="menu-title" data-i18n="">City</span></a>
                        </li>
                    </ul>

                    <div class="navigation-background"></div>
                </div>

                <div class="app-content content">
                    <div class="content-wrapper">
                        <div class="content-wrapper-before"></div>
                        <div class="content-header row">
                        </div>
                        <div class="content-body">
                            <!-- Chart -->
                            <div class="row match-height">
                                <div class="col-12">
                                    <div class="">
                                        <div id="gradient-line-chart1" class="height-250 GradientlineShadow1"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Chart -->

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-10" style="padding-left:90px; padding-top:20px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    




  

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)



        <!-- BEGIN VENDOR JS-->
        <script src="~/theme-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
        <!-- BEGIN VENDOR JS-->
        <!-- BEGIN PAGE VENDOR JS-->
        <script src="~/theme-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script>
        <!-- END PAGE VENDOR JS-->
        <!-- BEGIN CHAMELEON  JS-->
        <script src="~/theme-assets/js/core/app-menu-lite.js" type="text/javascript"></script>
        <script src="~/theme-assets/js/core/app-lite.js" type="text/javascript"></script>
        <!-- END CHAMELEON  JS-->
        <!-- BEGIN PAGE LEVEL JS-->
        <script src="~/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL JS-->

</body>
</html>
