@{
    ViewData["Title"] = "_LayoutUser";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reclaim The Art</title>
   
    <link rel="stylesheet" href="~/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>


    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="index.html"><img src="~/img/ART.png" height="70px" width="170px"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item active"><a class="nav-link" asp-controller="User" asp-action="Index" >HOME</a></li>
                            <li class="nav-item submenu dropdown">
                                <a asp-controller="User" asp-action="Shop" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">SHOP</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="HomeDecore">Home Decore</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="ToysAndTools">Toys And Tools</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="Lifestyle">Lifestyle</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="Stationary">Stationary</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="EventDecor">Event Decor</a></li>
                                </ul>
                            </li>
                           @*  <li class="nav-item submenu dropdown">
                                <a asp-controller ="User" asp-action="Service" class="nav-link dropdown-toggle">
                                    SERVICES
                                </a>
                            </li> *@
                            <li class="nav-item"><a class="nav-link" asp-area="AdminLogin" asp-controller="AdminLogin" asp-action="AdminLogin">ADMIN</a></li>
                        </ul>

                        <ul class="nav-shop">
                            <li class="nav-item"><button><i class="ti-search"></i></button></li>
                            <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
                            <li class="nav-item"><a class="button button-header" href="#">Buy Now</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <script src="~/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/vendors/skrollr.min.js"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="~/vendors/mail-script.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
<div>
    @RenderBody()
</div>



    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <div style="text-align : center;">

            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                © 2023 <a class="hover:underline">Reclaim The Art™</a>. All Rights Reserved.
            </span>
        </div> 
        </div>
    </footer>
